body{
  font-family: Arial, sans-serif;
  background-color: #fefae0; /* Light cream background */
  margin: 0;
  padding: 0;
  background-image: url("https://res.cloudinary.com/dg8uedx8x/image/upload/c_scale,w_800/v1745905104/RachaBanda_Youth_r7rekl.jpg" ); /* Optimized for performance */
}