body {
  font-family: Arial, sans-serif;
  background-color: #fefae0; /* Light cream background */
  margin: 0;
  padding: 0;
}

header {
  background-color: #d77a0e; /* Burnt orange */
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

img {
  margin-top: 10px;
  border-radius: 10px;
}

#weather {
  margin-top: 30px;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
.moving-heading-container {
  width: 100%;
  overflow: hidden; /* Hide the overflowing heading */
}

.moving-heading {
  font-size: 2em;
  white-space: nowrap; /* Prevent text from wrapping */
  animation: moveHeading 10s linear infinite alternate; /* Apply the animation */
}

@keyframes moveHeading {
  0% {
    transform: translateX(-100%); /* Start from completely off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* Move to completely off-screen to the right */
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #fefae0; /* Light cream background */
  margin: 0;
  padding: 0;
}

.home {
  background-image: url("RachaBanda Youth.jpg");
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  height: 100vh; /* Ensure the body has height */
  background-repeat:no-repeat ;
  background-attachment: fixed;
}
